#mainContent > h2{
    text-align:center;
}

h4{
    text-align: center;
}

p{
    text-align:center
}

#classmate{
    margin: 35px 325px 75px;
}

#kolby{
    text-align:center;
    margin-left:15.5em;
}

#alexis{
    margin: 60px 340px 35px;
}
#footerLinks{
    margin-left:22em;
}
#projectText{
    margin-left:4em;
    margin-bottom:0px;
}

#classmate1{
    margin: 35px 285px 75px;
}