
@{
    ViewBag.Title = "Classmates";
}

<h2>@ViewBag.Title</h2>

<section id="works"></section>
<div class="container">
    <div class="row centered mt mb">
        <div class="col-lg-7 col-lg-offset-2" id="kolby">
            <h4>Kolby Williams</h4>
        </div>
        <div class="col-md-5" id="classmate">
            <a href="http://www.kolbyjwilliams.com">
                <img src="~/Content/img/KolbyWilliams (1).jpg" />
            </a>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Blaine Gomez</h4>
        </div>
        <div class="col-md-5" id="classmate">
            <a href="http://www.blainegomez.com">
                <img src="~/Content/img/BlaineGomez1.jpg" />
            </a>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Kathryn Hudgins</h4>
        </div>
        <div class="col-md-5" id="classmate">
            <a href="http://www.kathrynrosella.com">
                <img src="~/Content/img/KathrynHudgins.jpg" />
            </a>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>James Earp</h4>
        </div>
        <div class="col-md-5" id="classmate">
            <a href="http://www.jamesearp.com">
                <img src="~/Content/img/JamesEarp.jpg" />
            </a>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h4>Kasey Shilt</h4>
        </div>
        <div class="col-md-5" id="classmate">
            <a href="http://www.kaseyshilt.com">
                <img src="~/Content/img/KaseyShilt.jpg" />
            </a>
        </div>
    </div>
</div>

