
@{
    ViewBag.Title = "Classmates";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row centered mt mb">
        <ul>
            <li>
                <img src="~/Content/img/KolbyWilliams.JPG" class="img-responsive" alt="title" href="http://www.kolbyjwilliams.cpm"/>
            </li>
            <li>
                <img src="~/Content/img/BlaineGomez1.jpg" class="img-responsive" alt="title" href="http://www.blainegomez.com"/>
            </li>
            <li>
                <img src="~/Content/img/KathrynHudgins.jpg" class="img-responsive" alt="title" href="http://www.KathrynRosella.com"/>
            </li>
            <li>
                <img src="~/Content/img/JamesEarp.JPG" class="img-responsive" alt="title" href="http://www.jamesearp.com"/>
            </li>
            <li>
                <img src="~/Content/img/KaseyShilt.jpg" class="img-responsive" alt="title" href="http://www.kaseyshilt.com"/>
            </li>
        </ul>
        
    </div>
</div>

