
@{
    ViewBag.Title = "GitHub";
}

<h2>@ViewBag.Title</h2>

<div class="row centered mt mb">
    <div class="col-lg-8" id="projectText">
        <p>
            Below is a link to my GitHub page! It includes all of my public repositories that can be viewed and downloaded for personal use and team collaboration. The projects posted in my GitHub showcase my skills and experience.
            <a href="http://github.com/woodwardlex">Click Here!</a>
        </p>
    </div>
</div>

