@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="row centered mt mb">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="~/Content/img/ProfilePicture.jpg" />
            <h2>About Me</h2>
            <p>
                My name is Alexis Woodward and I am a Full-Stack Web Developer graduate from Centriq Training. During my time at Centriq, I have become profiecient in HTML, CSS, JavaScript, jQuery and C# programming languages. I, also, gained the experience of partner programming with the use of one computer and source control using GitHub.
            </p>
            <hr />
            <p>
                Most of my prior experience consists of customer service and problem-solving. This experience has taught me how to work collaboratively in a team aspect and to always think outside of the box when solving issues. Starting my job experience as a Soccer Referee, I learned how to be make quick and accurate decisions. While working in the food insudtry as a waitress, I gained confidence in my communication and orgainizational skills when I spoke with customers and coworkers.
            </p>
            <hr />
            <p>
                My goal is to be able to build programs and websites that are accessible to people who feel as though they struggle when they use websites. I strive for better communication between businesses and customers, of all ages, through understandable programming and user-friendly accessibility.
            </p>
        </div>
    </div>
</div>
