
@{
    ViewBag.Title = "Letter of Recommendation";
}

<div class="container">
    <div class="row centered mt mb">
        <embed src="~/Content/img/Alexis Woodward.pdf" type="application/pdf" width="1450" height="2000" />
    </div>
</div>