
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class ="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="row centered mt mb">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>Job Board</h4>
                    <p>
                        Job Board is my final project website at Centriq that I had created in 8 days under the supervision of a Centriq instructor, who was acting as the client and the project manager. My goal was to create an easy-to-use navigational experience while keeping a consistent look and feel throughout the whole site.
                    </p>
                    <a href="http://fsdp.lexwoodward.com">
                        <img class="img-responsive" src="~/Content/img/JobsonsHomeScreen.jpg"/>
                    </a>
                </div>
                @*<div class="col-lg-5 col-lg-offset-1 mt">
                    <img class="img-responsive" src="~/Content/img/JobsonsHomeScreen.jpg" href="http://fsdp.lexwoodward.com" />
                </div>*@
            </div>

            <div class="row centered mt mb">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>SAT Application</h4>
                    <p>
                        This website was pair-programmed by myself and my classmate Kolby Williams. Using only one computer, we gained the communication skills to go through daily sprints as well documentation of our project. This exercise was helpful in allowing us to become more comfortable with working alongside a partner.
                    </p>
                    <a href="http://github.com/kolbyjwilliams/SATSolution1">
                        <img class="img-responsive" src="~/Content/img/pr01.jpg"/>
                    </a>
                </div>
                @*<div class="col-lg-10 col-lg-offset-1 mt">
                    
                </div>*@
            </div>

            <div class="row centered mt mb">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>Dungeon App</h4>
                    <p>
                        My favorite project that I created during my time at Centriq is the Dungeon App. Not only is it purely created using C#, but it also encaptures my love for adventure games as well. In the application, the user is taken through a variety of randomized rooms that have a random monster for the user to decide to either fight the monster or run! Beware! Some monsters can look quite decieving.
                    </p>
                    <a href="http://www.github.com/woodwardlex/DungeonAppPersonal">
                        <img src="~/Content/img/DungeonApp[527].png"/>
                    </a>
                </div>
                @*<div class="col-lg-10 col-lg-offset-1 mt">
                    
                </div>*@
            </div>
        </div>
    </div>
</div>