
@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class ="row">
        <div class="col-lg-10 col-lg-offset-2">
            <div class="row centered mt mb">
                <div class="col-md-4">
                    <h4>Dungeon Game</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 mt">
                    <img class="img-responsive" src="~/Content/img/pr01.jpg">
                    <br>
                    <img class="img-responsive" src="~/Content/img/pr02.jpg">
                </div>
            </div>

            <div class="row centered mt mb">
                <div class="col-md-4">
                    <h4>Woodward's Woodwork</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 mt">
                    <img class="img-responsive" src="~/Content/img/pr01.jpg">
                    <br>
                    <img class="img-responsive" src="~/Content/img/pr02.jpg">
                </div>
            </div>

            <div class="row centered mt mb">
                <div class="col-lg-8 col-lg-offset-2">
                    <h4>Store Front</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 mt">
                    <img class="img-responsive" src="~/Content/img/pr01.jpg">
                    <br>
                    <img class="img-responsive" src="~/Content/img/pr02.jpg">
                </div>
            </div>
        </div>
    </div>
</div>